<!-- 
*  REFERENCES
*  Title: Set up Google Sign-In for Faster Django Login Experience
*  Author: Akamai DevRel
*  Date: 12/12/2022
*  Code version: Django==3.2.10
*  URL: https://www.youtube.com/watch?v=yO6PP0vEOMc
*  Software License: N/A 
-->
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

<html>
    <head>
        <title>UVA Maps</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    </head>
    <body class="user-page">
        <div class="content-container">
            <div class="logo-container">
                <img src="{% static 'images/uvalogo.png' %}" alt="Logo" class="logo">
            </div>
            <h1>Welcome to UVA Maps!</h1>
            <a href = "{% provider_login_url "google" %}">Login with Google</a>
        </div>
    </body>
</html>